body {
  padding-bottom: 50px;
  background-color: #ffffff;
}

#profile-pic {
  height: 240px;
  width: 240px;
  display: block;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

#home-footer {
  display: block;
}

.profile-row {
  margin-bottom: 8px;
  padding-bottom: 0px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 2px;
}

.citation-container {
  overflow: hidden;
}

.citation-content {
  position: absolute;
  border-radius: 10px;
  background-color:white;
  opacity: 0.95;
  font-size: 12px;
  font-weight: bold;
  font-family: Roboto;
  color: black;
  display: none;
}

.citation-content:hover, .citation:hover + .citation-content {
  position: absolute;
  display: block;
  box-shadow: 7px 6px 33px -8px rgba(0,0,0,0.86);
  z-index:1000;
}

.project-video {
  height: 250px;
  width: calc(250px * (16 / 9));
}

.code-copy-btn {
  position: relative;
  float: right;
  border: none;
  background-color: #e7e7e7;
  border-radius: 5px; 
}

.code-copy-btn:hover {
  background-color: #d0d0d0;
}

.code-background {
  background-color: #f0f0f0;
  padding: 5px;
  border: 1px solid #ddd;
  overflow: auto;
  border-radius: 5px; 
}

.d-flex.flex-column.pl-4 {
  line-height: 1.1;
}

.d-flex.flex-column.pl-4 > * {
  margin-bottom: 0.25rem; 
}

a {
  color: #1a73e8;
  text-decoration: none;
}

a:hover {
  color: #0c4da2;
}

a.author_name {
  color: #000000;
  text-decoration: none;
}

a.author_name:hover {
  text-decoration: underline;
}

.item-title {
  font-size: 1.1rem;
  font-weight: 500;
  color: #1a73e8;
  text-decoration: none;
}

a.item-title {
  font-size: 1.1rem; 
  font-weight: 500; 
  color: #1a73e8; 
  text-decoration: none; 
}

a.item-title:hover {
  color: #0c4da2;
}

.paper-award {
  background-color: #ffe0b2;
  color: #f57c00;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 2px 6px;
  border-radius: 4px;
  display: inline-block;
}
